*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: $Grayish-Blue;
}

main {
  min-height: 100vh;
  @include grid-center;
}
